<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
        body{
          background: rgb(60, 60, 73);
        }
      h1{
        text-align: center;
        padding: 2em;
        color:rgb(79, 77, 224);
      }
        .bigForm{
        margin: auto;
        height: 70vh;
        width: 60%;
        padding: 5rem;
        text-align: center;
        background: rgb(79, 77, 224);
        color: aliceblue;

      }
  </style>

</head>


<body>
<!--    
   <form action="" method="post">
      <div class="contact-champs ">
          <label for="">Nom</label>
          <input type="text" id="nom" name="nom" placeholder="Nom" value="Kulathelagapillaiiiii" required>
         
      </div>

      <div class="contact-champs ">
              <label for="">Prénomom</label>
              <input type="text" id="prenom" name="prenom" placeholder="Prenom" value="Jega" required>
          </div>

          <button type="submit">Send</button>
  </form>  -->

     <h1>Inscription</h1>  



     
  <form class=bigForm action="" method="post">
      
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <!-- <input class="form-control" type="text" value="" id="example-text-input"> -->
        <input type="text" id="name" name="name" placeholder="Nom" class="form-control" required>
      </div>
    </div>
        
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Forname</label>
        <div class="col-10">
          <!-- <input class="form-control" type="text" value="" id="example-text-input"> -->
          <input type="text" id="forname" class="form-control" name="forname" placeholder="Forename" value="Kulathelagapillaiiiii" required>
        </div>
      </div>

        
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">City</label>
        <div class="col-10">
          <!-- <input class="form-control" type="text" value="" id="example-text-input"> -->
          <input type="text" id="city" class="form-control" name="city" placeholder="city" value="" required>
        </div>
      </div>
        
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Zipcode</label>
        <div class="col-10">
          <!-- <input class="form-control" type="text" value="" id="number"> -->
          <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcord" value="" required>
        </div>
      </div>
      
    <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
            <input type="password" id="password" class="form-control" name="password" placeholder="" value="" required>
          </div>
        </div>
        
       <button type="submit"class="btn" >Send</button>
     </form> 

   


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

</body>
</html>